@import './../../assets/styles/variables';

.main-content__container{
    height: calc(100% - 90px);
    max-width: 1200px;
    margin: 0 auto 15px;
    padding: 20px 3% 60px;
    // background-color: $primary-light;

      // Fix for jumping arrows
    .carousel-container {
        min-height: 210px;
    }
}

  



