@import './../../assets/styles/variables';

.user-preferences__container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 750px;
    margin-left: 200px;
    
    .user-preferences__title {
        font-size: 34px;
        color: $primary-grey;
    }

    .user-preferences__subtitle {
        padding: 5px;
        font-size: 16px;
        color: $primary-grey;
    }

    .user-preferences__choices {
        padding: 30px;
        display: flex;
    }

    .user-preferences__button-wraper {
        display: flex;
        justify-content: flex-end;

        .button.button-textual {
            font-size: 16px;
        }

        .user-preferences__button {
            color: $secondary-green;
            background: $secondary-green;
            font-size: 16px;
            margin-left: 30px;
        }
    }

    .user-preferences__price-choices {
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;
        flex-direction: column;
        color: $primary-grey;

        .user-preferences__month {
            padding-bottom: 20px;
            .user-preferences__month-label {
                padding: 5px;
            }
        }
    }

    .treeview-container {
        height: 280px;
        color: $primary-grey;
        border: none!important;
        overflow-y: scroll;
        padding-left: 30px;
        padding-top: 30px;

    }
}