@import 'src/assets/styles/variables';

.body-container {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    height: 100%;
}

@mixin disableUserSelection() {
    user-select: none;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    @include disableUserSelection();
}

#root {
    height: 100%;
}

.checkbox {
    .checkbox-label {
        color: $primary-grey;
    }

    &.checked {
        .checkbox-label::before {
            border-color: $secondary-green!important;
            background-color: $secondary-green!important;
        }
    }

    .checkbox-label::before {
        border-color: $primary-grey!important;
    }
}

.textField-field {
    &:active,
    &:focus {
        border-color: $secondary-green!important;
    }
}

  .virtualized-tree-filter-checkbox .virtualized-tree-filter-checkbox-label.is-checked:before {
    border-color: $secondary-green!important;
    background-color: $secondary-green!important;
  }
  
  .ReactVirtualized__Grid,
  .ReactVirtualized__Collection {
      &:focus {
          /* stylelint-disable-next-line declaration-no-important */
          outline: none !important;
      }
  }

  .treeview .treeview-item .treeview-content .checkbox.partial-selected label:after  {
    color: $secondary-green!important;
  }

.button.button-primary {
    background-color: $secondary-green!important;
    border-color:  $secondary-green!important;
}

.button.button-textual .button-label {
    color: $secondary-green!important;
}

.rdtPicker td.rdtActive {
    background-color: $secondary-green!important;
    color: #ffffff;
}

.dropdown.is-open .iconArrowWithBorder {
    color: $secondary-green!important;
}

.callout-container .callout {
    position: absolute;
    border: 1px solid $secondary-green!important;
    box-sizing: border-box;
    border-radius: 8px;
}

.dropdown .dropdown-title-border {
    &:hover {
        border: 1px solid  $secondary-green!important; 

        .iconArrowWithBorder {
            color: $secondary-green!important;
        }
    }
}

.rdtPicker thead tr:first-child th {
    &:hover {
        color: $secondary-green!important; 
    }
}

.rdtPicker th.rdtNext, .rdtPicker th.rdtPrev {
    &:hover {
        color: $secondary-green!important; 
    }
}

.rdtPicker td.rdtToday:before {
    border-bottom: 6px solid $secondary-green!important; 
    &:hover {
        border-bottom: 6px solid $secondary-green!important; 
    }
}

.rdtPicker td {
    &:hover {
        color: $secondary-green!important; 
    }
}

.spinner .spinner-circle {
    border-left: 1.4em solid $secondary-green!important;
}

.tree-filter-container {
    margin-bottom: 10px;
    margin-right: 30px;

    .icon-arrow_down {
        &:hover {
            color: $secondary-green!important; 
        }
    }
}

.tree-filter-container .tree-filter-title.tree-filter-title-with-border {
    &:hover {
        border: 1px solid $secondary-green!important; 
    }
}

.virtualized-tree-single-select-item {
    &:hover{
        background-color: $secondary-green-hover-color!important;
    }
}

.virtualized-tree-filter-container .item-container{
    &:hover{
        background-color: $secondary-green-hover-color!important;
    }
}

.virtualized-tree-filter-container.is-single-select .item-container .virtualized-tree-single-select-item.selected > span {
    color: $secondary-green!important;

    &:hover{
        background-color: $secondary-green-hover-color!important;
    }
}

.grid-component-container .grid-header-column .header-column-content .header-text { 
    text-align: center;
}

.css-vj8t7z {
    &:hover{
        border-color: $secondary-green!important;
    }
    border-radius: 8px!important;
}

.css-2o5izv {
    border-color:  $secondary-green!important;
    box-shadow: none!important;
}

.text-field .textField-field  {
    height: 40px!important;
    }