@import './../../assets/styles/variables';

.city__container {
  background-color: $primary-light;
  margin-left: -100px;
  margin-right: -100px;
  height: 500px;
  padding-top: 20px;

  .city-points-of-interests__container {
    img {
      max-height: 350px;
      max-width: 305px;
    }
  }

  .city__title {
    height: 40px;
    font-family: $primary-font;
    color: $secondary-green;
    font-size: 32px;
    font-weight: bold;
    margin-left: 100px;
  }

  .close {
    position: absolute;
    right: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  
  .close:hover {
    opacity: 1;
  }

  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: $secondary-green;
  }

  .close:before {
    transform: rotate(45deg);
  }
  
  .close:after {
    transform: rotate(-45deg);
  }

  .city__tabs {
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 10px;
  }

  .city-description__container {
    height: 430px;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    overflow-y: scroll;
        
    img {
      padding-top: 30px;
    }

    .city-description__content {
      display: flex;
      flex-direction: column;

      .city-description__title {
        color: $secondary-green;
        font-family: $primary-font;
        font-size: 28px;
        padding-left: 20px;
        padding-bottom: 10px;
      } 

      .city-description__text {
        font-family: $primary-font;
        color: $primary-grey;
        word-wrap: break-word;
        white-space: pre-line;
        width: 700px;
        height: 430px;
        padding-right: 50px;
        padding-left: 20px;
        }
    }
  }

  .ratings__container {
    .ratings__wrapper {
      padding-left: 120px;
      padding-top: 20px;
      display: flex;
      flex-direction: column;

      .icon {
        width: 32px;
        height: 32px;;
        padding-bottom: 30px;
      }

      .ratings__title {
        font-family: $primary-font;
        color: $primary-grey;
        font-size: 18px;
        padding-bottom: 10px;
      }
    }
  }

  .city-flights__container {
    margin-left: 120px;

    .city-flights__content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 320px;

      .city-flights__message {
        font-family: $primary-font;
        color: $primary-grey;
        font-size: 18px;
      }
  
      .city-flights__grid {
        height: 320px;
        width: 95%;
        margin-top: 20px;
    
        .grid-component-container {
          height: 100%;
          width: 100%;
          margin: 0;
          border: 1px solid $primary-middle;
  
          .grid-header-column:last-child {
              .grid-column-draggable{
                 border-right: none;
              }
         }
  
          .grid-component {
            .grid-cell_link {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .grid-cell__center {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }

    .flight-date-picker__container {
      display: flex;
      align-items: center;

      .flight-date-picker__picker {
        padding-top: 5px;
        padding-right: 30px;
        width: 200px;
      }

      .flight-date-picker__label {
        font-family: $primary-font;
        color: $primary-grey;
        font-size: 16px;
      }

      .flight-date-picker__button {
        margin-bottom: 10px;
        color: $secondary-green;
        background: $secondary-green;
        font-size: 16px;
        padding: 5px;
      }

      .flight-date-picker__dates {
        display: flex;
        align-items: flex-end;
        margin-top: 20px;
      }

      .flight-date-picker__cities {
        display: flex;
      }
    }
  }

  .city-hotels__container {
    margin-left: 60px;
    margin-top: 20px;

    .city-hotels__content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
      margin-left: -40px;
      
      .city-hotels__message {
        font-family: $primary-font;
        color: $primary-grey;
        font-size: 18px;
      }
  
      .city-hotels__grid {
        height: 400px;
        width: 95%;
    
        .grid-component-container {
          height: 100%;
          width: 100%;
          margin: 0;
          border: 1px solid $primary-middle;
  
          .grid-header-column:last-child {
              .grid-column-draggable{
                 border-right: none;
              }
         }
  
          .grid-component {
            .grid-cell_link {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .grid-cell__center {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

.pivot-minimal-tabs {
  .pivot-link {
      border:  $secondary-green solid 1px!important;

      .pivot-text,
      .pivot-icon,
      .pivot-count {
          color: $secondary-green!important;
      }

      &.is-selected {
          .pivot-text,
          .pivot-icon,
          .pivot-count {
              color:  $secondary-green!important
          }
          &::after {
              background-color: $secondary-green!important;
          }
          &::before {
            background-color: $secondary-green!important;
          }
      }
    }
  }

  .pivot-minimal-tabs.pivotItem:not(.no-border) {
    border:$secondary-green solid 1px!important;
}