@import './../../assets/styles/variables';

.top-cities__container{
    margin-top: 30px;
    margin-left: -250px;
    margin-right: -250px;

    .top-cities__title {
        font-size: 28px;
        color: $primary-grey;
    }

    // Fix for jumping arrows
    .carousel-container {
        min-height: 210px;
    }
}