@import './../../assets/styles/variables';
     
// SASS variable for media query breakpoint
$breakpoint-desktop: 992px;
 
.carousel {
  position: relative;
  margin-top: 20px;

    // Resetting default styles
    .carousel__slides {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;

        // Carousel slides
        .carousel__slide {
            margin-right: 2px;
            margin-left: 2px;
            display: none;
            max-width: 900px;
            list-style-type: none;
            text-align: center;
        
            &--active {
                display: flex;
                width: 25%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: box-shadow .3s;

                &:hover {
                    box-shadow: 0 0 30px rgba(0,168,133, 1);
                }
            }
        }
        
        // Content of slides
        .carousel-slide__content {
            height: 40px;
            width: 298px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
            font-size: 20px;
            background-color: $secondary-green;
            color: white;
        }
    }

    // Carousel arrows
    .carousel__arrow {
    position: absolute;
    top: 150px;
    display: block;
    cursor: pointer;


    &:focus {
        outline: 0;
    }

    &:hover {
        opacity: .5;
    }

    &--left {
        left: -100px;
    }

    &--right {
        right: -100px;
    }
    
    i {
        border: solid  $secondary-green;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
      }
      
      .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }

      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      
    }
}
