/*  FONTS */
$primary-font: 'Segoe UI', sans-serif;

$primary-grey: #797979;
$primary-middle: #e8e8e8;
$primary-light: #f5f5f5;

$secondary-green: #00a885;
$secondary-green-hover-color: #CCEDE6;

/* COLORS */
$success-color: #5CA704;
$error-color: #ce2a2a;
$error-color-hover: #ba2626;

$facebook-color: #3B5998;
